# Cargo.toml

[package]
name = "console-server"
version = "0.1.0"
edition = "2018"
resolver = "2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytes = "*"
env_logger = "*"
log = "*"
structopt = "*"
tokio = { version = "*", features = ["full"] }
tokio-serial = "*"

[build-dependencies]
build-data = "*"

[profile.release]
lto = true
opt-level = 3 #default
# opt-level = 'z'  # Optimize for size.

# EOF
